@model ScanIT.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml"; }



<div class="col-md-12 container container_row row justify-content-center vh-100" style="position: absolute; ">
    <div class="layer1" style="        position: relative;
        justify-self: center;
        text-align: center;
        text-align-last: justify;
        z-index: 0">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                   
                    <strong>
                        @{ViewBag.Welcome = $"Welcome {Model.LastName} {Model.FirstName} "; }
                        @Html.LabelFor(l => l.FirstName, new { @class = "col-md-2 control-label text-nowrap d-table" })
                    </strong>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <strong>
                        @Html.LabelFor(l => l.LastName, new { @class = "col-md-2 control-label text-nowrap d-table" })
                    </strong>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <strong>
                        @Html.LabelFor(l => l.DateOfBirth, new { @class = "col-md-2 control-label text-nowrap d-table" })
                    </strong>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.DateOfBirth, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <strong>
                        @Html.LabelFor(l => l.Country, new { @class = "col-md-2 control-label text-nowrap d-table" })
                    </strong>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.Country, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <strong>
                        @Html.LabelFor(l => l.Region, new { @class = "col-md-2 control-label text-nowrap d-table" })
                    </strong>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.Region, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <strong>
                        @Html.LabelFor(l => l.City, new { @class = "col-md-2 control-label text-nowrap d-table" })
                    </strong>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.City, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <strong>
                        @Html.LabelFor(l => l.Street, new { @class = "col-md-2 control-label text-nowrap d-table" })
                    </strong>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.Street, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <strong> @Html.LabelFor(l => l.StreetNumber, new { @class = "col-md-2 control-label text-nowrap d-table" })</strong>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.StreetNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <strong>
                        @Html.LabelFor(l => l.ZipCode, new { @class = "col-md-2 control-label text-nowrap d-table" })
                    </strong>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.ZipCode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <strong>
                        @Html.LabelFor(l => l.Gender.GenderName, new { @class = "col-md-2 control-label text-nowrap d-table" })
                    </strong>
                    <div class="col-md-10">
                        @Html.DisplayFor(x => x.Gender.GenderName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-dialog-centered">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary">@Html.ActionLink("Edit Profile", "Edit", new { id = Model.Id }, null)</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ml-2">
                    <button class="btn btn-primary">@Html.ActionLink("Change your login info", "Index", "Manage", null, htmlAttributes: new { title = "Manage" })</button>
                </div>
            </div>
        </div>
    </div>
</div>