@model ScanIT.Models.ChangePasswordViewModel
@{ string error = "";
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<h2 style="text-align:center;">
    @ViewBag.Title
</h2>

<div class="col-md-12 container container_row row justify-content-center" style="position: absolute; top:30%;">
    <div class="pop layer1" style="position:relative; text-align:center; z-index:0">
        <div class="container-fluid">

            
         @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {@Html.AntiForgeryToken()
            <div>
                <div class="col-md-12" style="text-align:center;">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 container container_row">
                <div class="layer1" style="        position: relative;
                                                   justify-self: center;
                                                   text-align: center;
                                                   text-align-last: justify;
                                                   z-index: 0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h2 class="col-md-2 control-label text-nowrap d-table"> Change Password Form</h2>
                            </div>
                            <div class="form-group">
                                <strong>
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label text-nowrap d-table" })
                                </strong>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <strong>
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label text-nowrap d-table" })
                                </strong>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <strong>
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label text-nowrap d-table" })
                                </strong>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center;">
                <button type="submit" value="Change password" class="btn btn-dark">Change password</button><br />
                @Html.ActionLink("Back to Profile", "Index", "Users", null, new { @class = "btn btn-dark" })
            </div>
            <p>
                @if (error != "")
                {
                    error.ToString();
                }
            </p>
            @*<p style="text-align:center;">Under Construction</p>*@
            @Scripts.Render("~/bundles/jqueryval")}
        </div>
        <hr />
    </div>
</div>












